* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*! header */
header {
  background: rgb(250, 117, 9);
  padding: 16px 0;
}

header nav {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav .logo img {
  width: 100px;
}

header nav .nav-links li {
  display: inline;
  margin-left: 30px;
  font-size: 18px;
}

header nav .nav-links li a {
  color: #202020;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}

.nav-links li a:hover {
  text-shadow: 0 0 10px white;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: black;
  transition: all 0.5s ease-in;
}

/* !main */
main {
  width: 80%;
  margin: auto;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 600px;
}

.hero-text {
  width: 50%;
}

.hero-image {
  width: 50%;
}

.hero-text h1 {
  margin-bottom: 30px;
  font-size: 30px;
}

.hero-text p {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
}

.hero-text button {
  font-size: 18px;
  padding: 10px;
  background-color: rgb(250, 97, 9);
  color: white;
  border-radius: 20px;
  border-color: rgb(250, 117, 9);
}

.hero-text button:hover {
  background-color: rgb(233, 85, 0);
}

.hero-text button a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}

/* About Section */
#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.about-image {
  width: 40%;
}

.about-details {
  width: 50%;
  font-weight: 300;
}

.about-details h1 {
  margin-bottom: 20px;
}

.about-details ol {
  margin: 20px;
}

.about-details ol li {
  font-weight: 500;
}

.about-details ul {
  margin-bottom: 10px;
}

.about-details ul li {
  font-weight: 300;
}

/* Details Section */
#details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  font-weight: 300;
}

.details-image {
  width: 50%;
}

.details-text {
  width: 50%;
}

.details-text ol {
  list-style-type: none;
}

.details-text ul {
  margin: 20px;
}

.details-text li {
  margin: 5px 0;
}

/* Form Pendaftaran */
#register {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 50px 0;
  margin: auto;
}

form {
  width: 35%;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 97, 9);
  padding: 30px;
  color: #fff;
  border-radius: 20px;
}

form h1 {
  text-align: center;
  font-size: 24px;
  margin: 14px;
}

form label {
  font-weight: 500;
  margin-bottom: 5px;
}

form input {
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid white;
  padding: 5px;
}

form input::placeholder {
  color: #a1a1a1;
  font-size: 14px;
}

form .check {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

form .check input {
  margin-top: 5px;
  margin-bottom: 0;
}

form button {
  border-radius: 10px;
  outline: none;
  border: 2px solid white;
  padding: 5px;
  color: rgb(250, 97, 9);
  background-color: white;
  font-weight: bold;
  font-size: 18px;
}

form button:active {
  transform: scale(0.96);
  transition: 0.1s;
}

form #warning {
  color: rgb(153, 9, 9);
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}

.instruksi {
  width: 45%;
}

.instruksi p {
  margin-top: 10px;
  font-weight: 300;
}

.instruksi ol {
  margin: 20px;
  font-weight: 400;
}

.instruksi ol li {
  margin-bottom: 5px;
}

/* Footer */
footer {
  width: 100%;
  background-color: rgb(250, 97, 9);
  color: white;
  padding: 16px 0;
}

footer p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  header nav .nav-links li {
    margin-left: 20px;
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 50px 0;
    min-height: fit-content;
  }

  .hero-image {
    width: 90%;
  }

  .hero-text {
    width: 100%;
  }

  #about {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    padding: 50px 0;
  }

  .about-image {
    width: 80%;
  }

  .about-details {
    width: 100%;
  }

  #details {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
  }

  .details-image {
    width: 90%;
  }

  .details-text {
    width: 100%;
  }

  #register {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    padding: 50px 0;
  }

  form {
    width: 50%;
    margin: auto;
  }

  .instruksi {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 40px 0;
  }

  .hero-image {
    width: 100%;
  }

  .hero-text {
    width: 100%;
  }

  .hero-text h1 {
    font-size: 26px;
  }

  .hero-text p {
    font-size: 16px;
  }

  #about {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 40px 0;
  }

  .about-image {
    width: 90%;
  }

  .about-details {
    width: 100%;
  }

  #details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
  }

  .details-image {
    width: 100%;
  }

  .details-text {
    width: 100%;
  }

  #register {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    padding: 40px 0;
  }

  form {
    width: 80%;
    margin: auto;
  }

  .instruksi {
    width: 100%;
  }

  /* hamburger menu */
  header nav .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 35px;
    border-radius: 5px;
    background-color: rgba(250, 97, 9, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  header nav .nav-links li {
    margin-left: 0;
    font-size: 16px;
    padding: 6px 20px;
    margin: 2px 0;
  }

  header nav .nav-links li:hover {
    text-shadow: 0 0 10px white;
  }

  nav ul.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
